{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/account.css') }}">
    {% include 'header.html.twig' %}
    <main>
        <aside class="select">
            <section class="content">
                <h2>Mon compte</h2>
                <a href="#" class="element">
                    <article>
                        <i class="bi bi-person-circle"></i>
                    </article>
                    <h1>Profil</h1>
                </a>
                <a href="{{ path('app_logout') }}" class="element">
                    <article>
                        <i class="bi bi-box-arrow-right"></i>
                    </article>
                    <h1>Déconnexion</h1>
                </a>
                {% if is_granted('ROLE_COACH') or is_granted('ROLE_ADMIN') %}
                    <a href="#" class="element">
                        <article>
                            <i class="bi bi-envelope"></i>
                        </article>
                        <h1>Mes posts</h1>
                    </a>
                {% endif %}
            </section>
            {% if is_granted('ROLE_USER') %}
                <section class="content">
                    <h2>Ma vie d'équipe</h2>
                    <a href="{{ path('app_match') }}" class="element">
                        <article>
                            <i class="bi bi-list-task"></i>
                        </article>
                        <h1>Mes matchs</h1>
                    </a>
                </section>
            {% endif %}
            <section class="content">
                <h2>Notre club</h2>
                <a class="element" href="{{ path('app_equipe') }}">
                    <article class="equipe">
                        <i class="bi bi-person-lines-fill "></i>
                    </article>
                   <h1>Equipes</h1>
                </a>
                <a class="element" href="{{ path('app_match') }}">
                    <article class="match">
                        <i class="bi bi-list-task"></i>
                    </article>
                    <h1>Matchs</h1>
                </a>
                <a class="element" href="{{ path('app_planning')  }}">
                    <article class="planning">
                        <i class="bi bi-calendar-event"></i>
                    </article>
                    <h1>Planning</h1>
                </a>
            </section>
            {% if is_granted('ROLE_ADMIN') %}
                <section class="content">
                    <h2>Comptes</h2>
                    <a href="{{ path('app_register') }}" class="element">
                        <article>
                            <i class="bi bi-person-plus"></i>
                        </article>
                        <h1>Créer un compte</h1>
                    </a>
                    <a href="#" class="element">
                        <article>
                            <i class="bi bi-person-check"></i>
                        </article>
                        <h1>Gérer les comptes</h1>
                    </a>
                </section>
            {% endif %}
        </aside>
        <section class="main">
            {% if is_granted('ROLE_COACH') or is_granted('ROLE_ADMIN') %}
                <section class="post">
                    <aside class="about">
                        <h2>A propos</h2>
                        <p>Créer de nouveaux posts afin de tenir vos
                            joueurs informés de l'actualité du club.</p>
                    </aside>
                    <section class="post-create">
                        <h2>Créer un post</h2>
                        {{ form_start(form) }}
                        {{ form_row(form.title) }}
                        {{ form_row(form.content) }}
                        {{ form_row(form.url_photo) }}
                        <button type="submit" class="btn btn-primary">Créer</button>
                        {{ form_end(form) }}
                    </section>
                </section>
                <section class="last-post-content">
                    <h1>Dernier post de {{ post.author}}</h1>
                    {% set url = path('app_post_show',{'id': post.id}) %}
                    <a class="last-post-element" id="{{ post.id }}" href="{{ url}}">
                        <p class="content">{{ post.title }}</p>
                        {% set src = '/posts/images/' ~ post.urlPhoto %}
                        <img src="{{ asset(src) }}" alt="news-img" class="last-post-element-img">
                    </a>
                </section>
                <section class="nextMatch">
                    <!-- TODO: mettre le prochain    match  -->
                </section>
            {% endif %}
        </section>
    </main>
    <script src="{{ asset('js/account.js') }}"></script>
{% endblock %}
