{% extends 'base.html.twig' %}
{% block title %}Edition du compte de {{ userEdit.pseudo }}{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.pseudo) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.roles) }}
        {{ form_row(form) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
        {{ form_end(form) }}
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}


