{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block carroussel %}
{#    <link rel="stylesheet" href="{{ asset("css/homePage.css") }}">#}

{#<div class="pic-ctn">#}
{#    <img src="{{ asset('images/Moins11.jpg') }}" class="pic" alt="Moins11">#}
{#    <img src="{{ asset('images/Loisirs.jpg') }}" class="pic" alt="Loisirs">#}
{#    <img src="{{ asset('images/Moins9.jpg') }}" class="pic" alt="Moins9">#}
{#    <img src="{{ asset('images/Moins13.jpg') }}" class="pic" alt="Moins13">#}
{#    <img src="{{ asset('images/Moins15.jpg') }}" class="pic" alt="Moins15">#}
{#    <img src="{{ asset('images/Moins17.jpg') }}" class="pic" alt="Moins17">#}
{#    <img src="{{ asset('images/Moins18.jpg') }}" class="pic" alt="Moins18">#}
{#    <img src="{{ asset('images/Seniors1et2.jpg') }}" class="pic" alt="Seniors1et2">#}
{#    <img src="{{ asset('images/SF1.jpg') }}" class="pic" alt="SF1">#}
{#    <img src="{{ asset('images/SF2.jpg') }}" class="pic" alt="SF2">#}
{#</div>#}


{% endblock %}


{% block sidebar %}

    <div class="sidebar">

        <div class="tiers">
        <h2>Équipes</h2>
            <ul>
                <li><a href="#">Afficher une équipe</a></li>
                <li><a href="#">Modifier une équipe</a></li>
                <li><a href="#">Ajouter une équipe</a></li>
                <li><a href="#">Supprimer une équipe</a></li>
            </ul>
        </div>
        <div class="tiers">
            <h2>Matches</h2>
            <ul>
                <li><a href="#">Afficher un match</a></li>
                <li><a href="#">Modifier un match</a></li>
                <li><a href="#">Ajouter un match</a></li>
                <li><a href="#">Supprimer une match</a></li>
            </ul>
        </div>
        <div class="tiers">
            <h2>Plannings</h2>
            <ul>
                <li><a href="#">Voir le planning</a></li>
            </ul>
        </div>
        <div class="tiers">
            <h2>Mon compte</h2>
            <ul>
                <li><a href="{{ path('app_register') }}">Connexion</a></li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block divMain %}

    <div class="main">
        <div class="separatorLeft">

        </div>
        <div class="sectionMain1">
            <p>first div</p>
        </div>
       <div class="separatorRigth">

        </div>
        <div class="sectionMain2">
            <p>second div</p>
        </div>




    </div>


{% endblock %}