{% extends 'base.html.twig' %}



{% block title %}Accueil{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset("css/homePage.css") }}">
    <link rel="stylesheet" href="{{ asset("css/header.css") }}">
    <main>
    <header>
        <a href="{{ path('app_home') }}"><img src="{{ asset('images/logo.png') }}" alt="logo"></a>
    </header>
        <section class="sidebar">
            <div class="tiers">
                <h2>Équipes</h2>
                <ul>
                    <li><a href="{{ path('app_equipe') }}">Afficher une équipe</a></li>
                    <li><a href="{{ path('app_equipe_edit') }}">Modifier une équipe</a></li>
                    <li><a href="{{ path('app_equipe_add') }}">Ajouter une équipe</a></li>
                    <li><a href="{{ path('app_equipe_delete') }}">Supprimer une équipe</a></li>
                </ul>
            </div>
            <div class="tiers">
                <h2>Matches</h2>
                <ul>
                    <li><a href="{{ path('app_match') }}">Afficher un match</a></li>
                    <li><a href="{{ path('app_match_edit') }}">Modifier un match</a></li>
                    <li><a href="{{ path('app_match_create') }}">Ajouter un match</a></li>
                    <li><a href="{{ path('app_match_delete') }}">Supprimer une match</a></li>
                </ul>
            </div>
            <div class="tiers">
                <h2>Plannings</h2>
                <ul>
                    <li><a href="#">Voir le planning</a></li>
                </ul>
            </div>
            <div class="tiers">
                {% if is_granted('ROLE_USER') or is_granted('ROLE_COACH') or is_granted('ROLE_ADMIN') %}
                    <h2>{{ user.pseudo }}</h2>
                    <ul>
                        <li><a href="{{ path('app_account') }}">Mon compte</a></li>
                        <li><a href="{{ path('app_logout') }}">Se deconnecter</a></li>
                    </ul>
                {% else %}
                    <h2>Mon compte</h2>
                    <ul>
                        <li><a href="{{ path("app_login")}}">Connexion</a></li>
                    </ul>
                {% endif %}

            </div>
        </section>
        <img src="{{ asset('images/banniere_2.png') }}" alt="banner" class="banner">

        <section class="match reveal_bottom">
            <section class="nextMatch matchSection">
                <h2>Prochain match</h2>
                <article>
                    <p class="next-match-date"></p>
                    <p class="next-match-team1"></p>
                    <p class="next-match-time"></p>
                    <p class="next-match-team2"></p>
                    <p class="next-match-location"></p>
                    <p class="next-match-remaining-time"></p>
                </article>
            </section>

            <section class="lastMatch matchSection">
            <h2>Match précédent</h2>
                <article>
                    <p class="last-match-date"></p>
                    <p class="last-match-team1"></p>
                    <p class="last-match-time"></p>
                    <p class="last-match-team2"></p>
                    <p class="last-match-location"></p>
                </article>
            </section>

        </section>
        <section class="pic-ctn reveal_bottom">
            <section class="aboutOur">
                <h1>A propos de nous</h1>
                <p>Uxor mortalis acerbitati quaedam regni nihil
                    qui nocendum turgida germanitate per quaedam
                    acerbitati conpertis avida Constantinus nocendum
                    male nihil maritus falsa regi eruditiores nihil
                    grave suetos addere germanitate quaedam male
                    calumnias adsidua quam artium regi inflammatrix
                    fratris male nefandarum et nocendum calumnias
                    mortalis turgida mitius turgida nihil Augusti
                    temporis versutosque eruditiores quaedam paulatim
                    modum humani sibi germanitate sibi cruoris placentia
                    quaedam saevientis cruoris conpertis avida fratris
                    clandestinos fratris quaedam temporis nihil versutosque et
                    versutosque acerbitati turgida cruoris regni discentes nefandarum
                    nocendum maritus saevientis male grave falsa supra ad conpertis regni
                    grave Constantinus paulatim quaedam Hannibaliano Hannibaliano
                    avida eruditiores regni turgida.</p>
            </section>
            <img src="{{ asset('images/Loisirs.jpg') }}" alt="img" class="img">
        </section>

        <section class="news reveal_bottom">
           <section class="news-content">
               {% for post in posts %}
                   {% set url = path('app_post_show',{'id': post.id}) %}
                   <a class="news-element" id="{{ post.id }}" href="{{ url}}">
                       <h3 class="name">{{ post.author }}</h3>
                       <p class="content">{{ post.title }}</p>
                       {% set src = '/posts/images/' ~ post.urlPhoto %}
                       <img src="{{ asset(src) }}" alt="news-img" class="news-element-img">
                   </a>
               {% endfor %}
           </section>
            <ul class="page">
                <li class="page-link-li"><a href="#" class="page-link-a"><</a></li>
                <li class="page-link-li"><a href="#" class="page-link-a">1</a></li>
                <li class="page-link-li"><a href="#" class="page-link-a">2</a></li>
                <li class="page-link-li"><a href="#" class="page-link-a">3</a></li>
                <li class="page-link-li"><a href="#" class="page-link-a">4</a></li>
                <li class="page-link-li"><a href="#" class="page-link-a">5</a></li>
                <li class="page-link-li"><a href="#" class="page-link-a">6</a></li>
                <li class="page-link-li"><a href="#" class="page-link-a">7</a></li>
                <li class="page-link-li"><a href="#" class="page-link-a">8</a></li>
                <li class="page-link-li"><a href="#" class="page-link-a">9</a></li>
                <li class="page-link-li"><a href="#" class="page-link-a">10</a></li>
                <li class="page-link-li"><a href="#" class="page-link-a">></a></li>
            </ul>
        </section>
        <section class="contact reveal_bottom">
            <section class="contact-container">
                <h1>NOUS CONTACTER</h1>
                <article class="infos">
                    <h2>Guilherand-Granges Ardèche Handball</h2>
                    <a href="#" class="contact-element">
                        <i class="bi bi-geo-alt"></i>
                        <p> Espace Rémy Roure - 07500 Guilherand-Granges</p>
                    </a>
                    <a href="#" class="contact-element">
                        <i class="bi bi-facebook"></i>
                        <p> @GGAhandball</p>
                    </a>
                    <a href="mailto:5107009@ffhandball.net" class="contact-element">
                        <i class="bi bi-envelope-check"></i>
                        <p> 5107009@ffhandball.net</p>
                    </a>

                </article>
            </section>
        </section>
    </main>
    <script src="{{ asset('js/index.js') }}"></script>
    <script src="{{ asset('js/transitionBottomTop.js') }}"></script>
{% endblock %}