{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <main>
        <link rel="stylesheet" href="{{ asset('css/addTeam.css') }}">
        <link rel="stylesheet" href="{{ asset('css/register.css') }}">
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('css/backgroundIcons.css') }}">


        <section class="registrateForm formCreateTeam">
            <h2 class="newUtilisateur">Nouveau utilisateur</h2>
            <section class="left">
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.pseudo, {label: 'Nom Utilisateur'}) }}
                {{ form_row(registrationForm.email, {label: 'Email'}) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
            </section>

            <section class="rigth">
                {{ form_row(registrationForm.roles) }}
                {{ form_row(registrationForm.agreeTerms) }}
            </section>
            <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}
        </section>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}
