{% extends 'base.html.twig' %}

{% block title %}Créer un match{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset("css/header.css") }}">
    <link rel="stylesheet" href="{{ asset("css/addMatch.css") }}">
    <link rel="stylesheet" href="{{ asset("css/homePage.css") }}">
    <link rel="stylesheet" href="{{ asset("css/backgroundIcons.css") }}">
    <link rel="stylesheet" href="{{ asset("css/footer.css") }}">
    {% include 'header.html.twig' %}

    <section class="main">
        <section class="formCreateMatch">
            <h1 style="color: black; text-align: center">Création d'un match</h1>
            {{ form_start(form) }}
            <section class="equipeAccueil">
                <section class="equipe">
                    <label>Equipe GGHB</label>
                    {{ form_widget(form.equipe_locale, {'attr': {'placeholder': 'équipe local'}}) }}
                </section>
                <h2 class="contre">Contre</h2>
                <section class="equipe">
                    {{ form_label(form.equipe_adverse) }}
                    {{ form_widget(form.equipe_adverse, {'attr': {'placeholder': 'équipe adverse'}}) }}
                </section>
            </section>
            <section class="infoSpace">
                <section class="localisation">

                    {{ form_row(form.hote) }}

                    {{ form_row(form.gymnase) }}
                    {{ form_row(form.domicile_exterieur) }}

                </section>
                <section class="img"><img src="{{ asset('images/logo.png') }}" alt=""></section>
                <section class="date">
                    {{ form_row(form.date_heure) }}
                    {{ form_row(form.num_semaine) }}
                    {{ form_row(form.num_journee) }}
                </section>
            </section>
            <section class="btnSection">
                <button type="submit" class="btn btn-primary ">Créer</button>
            </section>
            {{ form_end(form) }}
        </section>
    </section>
    <section class="contact reveal_bottom">
        <section class="contact-container">
            <h1>NOUS CONTACTER</h1>
            <article class="infos">
                <h2>Guilherand-Granges Ardèche Handball</h2>
                <a href="#" class="contact-element">
                    <i class="bi bi-geo-alt"></i>
                    <p> Espace Rémy Roure - 07500 Guilherand-Granges</p>
                </a>
                <a href="#" class="contact-element">
                    <i class="bi bi-facebook"></i>
                    <p> @GGAhandball</p>
                </a>
                <a href="mailto:5107009@ffhandball.net" class="contact-element">
                    <i class="bi bi-envelope-check"></i>
                    <p> 5107009@ffhandball.net</p>
                </a>

            </article>
        </section>
    </section>

    <script src="{{ asset('js/transitionBottomTop.js') }}"></script>
{% endblock %}


