{% extends 'base.html.twig' %}


{% block title %}Voir une équipe{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/allMatches.css') }}">
    <link rel="stylesheet" href="{{ asset('css/backgroundIcons.css') }}">
    <link rel="stylesheet" href="{{ asset('css/goTopButton.css') }}">
    <link rel="stylesheet" href="{{ asset('css/loader.css') }}">
    {% include 'header.html.twig' %}
    {% if user %}
    <p id="role" hidden> {{ user.roles[0] }}</p>
    {% else %}
        <p id="role" hidden></p>
    {% endif %}
    <main>
        <aside class="form formGetMatches">
            <h2>FILTRE</h2>
            <article>
                <label for="category">Par équipe</label>
                <select name="category" id="category">
                    <option value="all" selected>Toutes les équipes</option>
                </select>
            </article>
            <article>
                <label for="gymnase">Par gymnase</label>
                <select name="gymnase" id="gymnase">
                    <option value="all" selected>Tous les gymnases</option>
                </select>
            </article>
            <article>
                <label for="domicile">Domicile</label>
                <input type="checkbox" id="domicile" name="domicile">
            </article>
        </aside>

        <section class="content">
            <section id="loader" style="margin-left: auto;margin-right: auto"></section>
        </section>
    </main>
    {% include 'footer.html.twig' %}
    <script src="{{ asset('js/transitionBottomTop.js') }}"></script>
    <script src="{{ asset('js/matchs.js') }}"></script>
{% endblock %}


