{% extends 'base.html.twig' %}

{% block title %}Post n° {{ post.id }} - {{ post.author }}{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Post n° {{ post.id }} - {{ post.author }} - {{ post.date|split('/').0 }}</h1>
                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
                {% set src = '/posts/images/' ~ post.urlPhoto %}
                <label for="actualImage">Image actuelle</label>
                <img src="{{ asset(src) }}" id="actualImage">
                {{ form_row(form.url_photo) }}
                <button type="submit" class="btn btn-primary">Modifier</button>
                {{ form_end(form) }}
                <p><a href="{{ path('app_post_pseudo',{"pseudo": user.pseudo}) }}">Retour à mes posts</a></p>
            </div>
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}
