{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/post.css') }}">
    {% include 'header.html.twig' %}
    <main>
        <section class="post">
            {% set img = '/posts/images/'~ post.urlPhoto %}
            <img src="{{ asset(img) }}" alt="post" class="post-image">
            <article class="post-article">
                {% set date = post.date |split('/') %}
                <h1>{{ post.title }}</h1>
                <p>{{ post.content }}</p>
                <h6>{{ date[0] }} à {{ date[1] }}</h6>
            </article>
        </section>
    </main>
{% endblock %}
