{% extends 'base.html.twig' %}

{% block title %}Créer une équipe{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset("css/addTeam.css") }}">
    <link rel="stylesheet" href="{{ asset("css/backgroundIcons.css") }}">
    {% include 'header.html.twig' %}
    <main>
    <section class="main">
        <section class="formCreateTeam reveal_bottom">
            <section class="logAndTitle">
                <h1> Création d'équipe</h1>
                <img src="{{ asset('images/logo.png') }}" alt="test">
            </section>
            {{ form_start(form) }}
            <section class="fullForm">
                <section class="labelForm">
                    <label>Nom d'équipe</label>
                    {{ form_label(form.entraineur)}}
                    {{ form_label(form.creneaux)}}
                    {{ form_label(form.url_photo)}}
                    <label> lien Résultats</label>
                    {{ form_label(form.commentaire)}}
                </section>
                <section class="inputForm">
                    {{ form_widget(form.libelle, {'attr' : {'class':'inputCreateTeam'}}) }}
                    {{ form_widget(form.entraineur, {'attr' : {'class':'inputCreateTeam'}}) }}
                    {{ form_widget(form.creneaux, {'attr' : {'class':'inputCreateTeam'}}) }}
                    {{ form_widget(form.url_photo, {'attr' : {'class':'inputCreateTeam'}}) }}
                    {{ form_widget(form.url_result_calendrier, {'attr' : {'class':'inputCreateTeam'}}) }}
                    {{ form_widget(form.commentaire, {'attr' : {'class':'inputCreateTeam'}}) }}
                </section>
            </section>
            <button type="submit" class="btn btn-primary">Créer</button>
            {{ form_end(form) }}
        </section>
    </section>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}

