{% extends 'base.html.twig' %}

{% block title %}Voir une équipe{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset("css/allTeam.css") }}">
    <link rel="stylesheet" href="{{ asset("css/loader.css") }}">
    <link rel="stylesheet" href="{{ asset("css/backgroundIcons.css") }}">
    {% include 'header.html.twig' %}
    {% if user %}
        <p id="role" hidden> {{ user.roles[0] }}</p>
    {% else %}
        <p id="role" hidden></p>
    {% endif %}
    <main>
        <section class="main ">
            <section class="allTeam">
                <h1 style="width: 100%; text-align: center;color: black">Nos équipes</h1>
                <section id="loader"></section>
            </section>
        </section>
    </main>
    {% include 'footer.html.twig' %}

    <script src="{{ asset('js/Team.js') }}"></script>

{% endblock %}

