{% extends 'base.html.twig' %}

{% block title %}Voir une équipe{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset("css/header.css") }}">
    <link rel="stylesheet" href="{{ asset("css/homePage.css") }}">
    <link rel="stylesheet" href="{{ asset("css/addTeam.css") }}">
    <link rel="stylesheet" href="{{ asset("css/allTeam.css") }}">
    <link rel="stylesheet" href="{{ asset("css/loader.css") }}">
    <link rel="stylesheet" href="{{ asset("css/backgroundIcons.css") }}">
    {% include 'header.html.twig' %}
    <main>
        <section class="main ">


            <section class="allTeam">
                <h1 style="width: 100%; text-align: center">Nos équipes</h1>
                <section id="loader"></section>
            </section>
        </section>
    </main>
    {% include 'footer.html.twig' %}

    <script src="{{ asset('js/transitionBottomTop.js') }}"></script>
    <script src="{{ asset('js/Team.js') }}"></script>

{% endblock %}

